# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env
.env
venv/
backend/venv/
desktop/venv/
*.egg-info/
backend/chemviz/datasets/
*.py[cod]
env/
.venv/

# Django
media/
staticfiles/

# Node / React
node_modules/
dist/
.vite/
build/

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/
